<h1>Les utilisateurs</h1>
<div>
    <p class="titre"> La liste des utilisateurs</p>
    <table class="table table-hover">
        <thead><td>Login</td><td>Enabled</td><td>Rôles</td></thead>

        <tr ng-repeat="user in users">
            <td>{{user.login}}</td>
            <td>{{user.enabled}}</td>
            <td ng-class="user.roles.join(', ')">{{user.roles.join(', ')}}</td>
        </tr>
    </table>
</div>


<p class="titre"> Ajout d'un utilisateur </p>
<div class="alert alert-danger" ng-show="errorAjout">
    {{errorMessage}}
</div>
<form role="form" ng-submit="addUser()">
    <div class="form-group">
        <label for="login">Login :</label>
        <input id="login" class="form-control" type="text" ng-model="user.userLogin" name="login" required />
    </div>
    <div class="form-group">
        <label for="login">Password : </label>
        <input id="password" class="form-control" type="password" ng-model="user.userPassword" name="password" required />
    </div>
    <div class="form-group">
        <label for="role">Role : </label>
        <select id="role" name="role" class="form-control" ng-model="user.userRole" ng-options="role.name for role in roles" required>
            <option value="" >-- Select --</option>
        </select>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Créer</button>
</form>
