<div class="box clearfix">
    <div class="heading">
        <h3 class="text-uppercase">Personal details</h3>
    </div>

    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input class="form-control" id="nom" type="text" ng-model="currentUser.nom">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input class="form-control" id="prenom" type="text" ng-model="currentUser.prenom">
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Sexe">Sexe</label>
                    <input class="form-control" id="sexe" type="text" ng-model="currentUser.sexe">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="DateDeNaissance">Date de naissance</label>
                    <input class="form-control" id="dateDeNaissance" type="date" ng-model="currentUser.dateDeNaissance">
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="telFixe">Télephone fixe</label>
                    <input class="form-control" id="telFixe" type="number" ng-model="currentUser.telephoneFixe">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="telPortable">Télphone portable</label>
                    <input class="form-control" id="telPortable" type="number" ng-model="currentUser.telephonePortable">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input class="form-control" id="adresse" type="text" ng-model="currentUser.adresse">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="codePostal">Code postal</label>
                    <input class="form-control" id="codePostal" type="number" ng-model="currentUser.codePostal">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="ville">Ville</label>
                    <input class="form-control" id="ville" type="text" ng-model="currentUser.ville">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" type="text" ng-model="currentUser.description">
                </div>
            </div>
        </div>        



        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Save changes</button>

            </div>
        </div>

    </form>

</div>