<div class="box clearfix">
    <div class="heading">
        <h3 class="text-uppercase">Personal details</h3>
    </div>
    <div class="alert alert-danger" ng-repeat="(key, value) in errorMessage">
        <p>{{value}}</p>
    </div>

    <form role="form" ng-submit="updateUser()">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="mailContact">Email de contact</label>
                    <input class="form-control" id="nom" type="mailContact" ng-model="currentUser.mailContact">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input class="form-control" id="Login" type="login" ng-model="currentUser.login">
                </div>
            </div>               
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input class="form-control" id="nom" type="text" ng-model="currentUser.nom">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input class="form-control" id="prenom" type="text" ng-model="currentUser.prenom">
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" ng-model="currentUser.sexe">
                    <label for="Sexe">Sexe</label>
                    <select id="sexe" name="sexe" class="form-control" ng-model="currentUser.sexe" required>
                        <option value="0">M</option>
                        <option value="1">F</option>
                        <option value="2">Autre</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="DateDeNaissance">Date de naissance</label>
                    <input class="form-control" id="dateDeNaissance" type="text" ng-model="currentUser.dateDeNaissance">
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="telFixe">Télephone fixe</label>
                    <input class="form-control" id="telFixe" type="text" ng-model="currentUser.telephoneFixe">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="telPortable">Télphone portable</label>
                    <input class="form-control" id="telPortable" type="text" ng-model="currentUser.telephonePortable">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input class="form-control" id="adresse" type="text" ng-model="currentUser.adresse">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="codePostal">Code postal</label>
                    <input class="form-control" id="codePostal" type="text" ng-model="currentUser.codePostal">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="ville">Ville</label>
                    <input class="form-control" id="ville" type="text" ng-model="currentUser.ville">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" type="text" ng-model="currentUser.description">
                </div>
            </div>
        </div>        



        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Sauvegarder les modifications</button>

            </div>
        </div>

    </form>

</div>