<div id="myCarousel" class="carousel slide " data-ride="carousel" ng-init="initFirst()">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="img/blog.jpg" alt="Chania" >
            <div class="carousel-caption">
                <p class="h1 text-center">Organiser des concerts à domicile</p>
            </div>
        </div>

        <div class="item">
            <img src="img/blog2.jpg" alt="Chania">
            <div class="carousel-caption">
                <p class="h1 text-center">Un mariage, un anniversaire ? <br/> Invitez des artistes en toute simplicité</p>
            </div>
        </div>

        <div class="item">
            <img src="img/blog.jpg" alt="Flower">
            <div class="carousel-caption">
                <p class="h1 text-center"> Invitez plusieurs artistes pour le même evenement ? <br> C'est possible</p>
            </div>
        </div>

        <div class="item">
            <img src="img/blog2.jpg" alt="Flower">
            <div class="carousel-caption">
                <p class="h1 text-center"> Invitez plusieurs artistes pour le même evenement ? <br> C'est possible</p>
            </div>
        </div>
    </div>
</div>
<div class="search_bar_accueil">
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-section">
                        <div class="row">
                            <form id="search_artiste" method="post" ng-submit="search()" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-12 col-sm-12 search_field">
                                        <select id="type" class="selectpicker" multiple ng-model="artisteSearch.type" data-actions-box="true" title="Type d'artiste">
                                            <option class="small-font" ng-repeat="type in typesArtiste" data-select-watcher data-last="{{$last}}" value="{{type.id}}">{{type.nom}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-3 col-md-12 col-sm-12 search_field">
                                        <select id="type" class="selectpicker" multiple ng-model="artisteSearch.region" data-actions-box="true" title="Région">
                                            <option class="small-font" ng-repeat="region in regions" data-select-watcher data-last="{{$last}}" value="{{region.id}}">{{region.nom}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-3 col-md-12 col-sm-12 search_field">
                                        <a id="buttonSearch" ng-click="search()" class="btn btn-primary btn-lg" style="width: 100% !important">Rechercher</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            $('#myCarousel').carousel({
                interval: 4000,
                pause: 'none'
            });
            $('#myCarousel').carousel('cycle');
</script>

<script>


            $('.selectpicker').selectpicker('selectAll');

            /*function toggleSelectAll(control) {
             var allOptionIsSelected = (control.val() || []).indexOf("All") > -1;
             function valuesOf(elements) {
             return $.map(elements, function (element) {
             return element.value;
             });
             }
             
             if (control.data('allOptionIsSelected') != allOptionIsSelected) {
             // User clicked 'All' option
             if (allOptionIsSelected) {
             // Can't use .selectpicker('selectAll') because multiple "change" events will be triggered
             control.selectpicker('val', valuesOf(control.find('option')));
             } else {
             control.selectpicker('val', []);
             }
             } else {
             // User clicked other option
             if (allOptionIsSelected && control.val().length != control.find('option').length) {
             // All options were selected, user deselected one option
             // => unselect 'All' option
             control.selectpicker('val', valuesOf(control.find('option:selected[value==All]')));
             allOptionIsSelected = false;
             } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
             // Not all options were selected, user selected all options except 'All' option
             // => select 'All' option too
             control.selectpicker('val', valuesOf(control.find('option')));
             allOptionIsSelected = true;
             }
             }
             control.data('allOptionIsSelected', allOptionIsSelected);
             }
             
             $('#type').selectpicker().change(function () {
             toggleSelectAll($(this));
             }).trigger('change');*/
</script>
<!--<video autoplay loop>
  <source src="https://video-cdg2-1.xx.fbcdn.net/v/t43.1792-2/13059090_467982336744883_480295172_n.mp4?efg=eyJybHIiOjE4NjcsInJsYSI6MTUxNCwidmVuY29kZV90YWciOiJzdmVfaGQifQ%3D%3D&rl=1867&vabr=1245&oh=1a9709c48576c9eac5afaf10a4033398&oe=5733631F" type="video/mp4">
</video>

<script type="text/javascript">

                var $video = $('video'),
                        $window = $(window);

                $(window).resize(function () {

                    var height = $window.height();
                    $video.css('height', height);

                    var videoWidth = $video.width(),
                            windowWidth = $window.width(),
                            marginLeftAdjust = (windowWidth - videoWidth) / 2;

                    $video.css({
                        'height': height,
                        'marginLeft': marginLeftAdjust
                    });
                }).resize();
</script>-->
<!-- *** HOMEPAGE CAROUSEL END *** -->

<!--<h1>Bienvenue sur RunTheShow</h1>
<div ng-show="authenticated" ng-init="initFirstHome()">
    <p>Votre nom est : {{user.login}}</p>
    <p ng-class="user.roles.join(', ')">Vos roles sont : {{user.roles.join(', ')}}</p>
</div>
<div  ng-show="!authenticated">
    <p>Bonjour, connectez-vous pour voir les détails</p>
</div>-->