<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="artist_cv_consult" ng-init="initArtistCvConsult()">
    <span class="text-danger" ng-show="errorMessage.init"> 
        {{errorMessage.init}}                     
    </span>  
    <div id="" class="ng-scope">
        <div class="jumbotron" ng-style="bannerStyle"></div>
        <div class="container">
            <div class="row panelProfileArtiste">
                <div class="col-md-3" id="divImgProfileArtiste">
                    <div class="box-image" style="border-radius: 3%;">
                        <div class="image">
                            <img ng-style="imgProfileStyle" ng-src="{{urlImageProfile}}" class="img-responsive" >
                        </div>
                    </div>
                </div>
                <div class="row col-md-4 form-group">
                    <!--<h4>Nom de l'artise</h4>-->
                    <h2>{{ artist.nomArtiste}}</h2>
                    <div id="nomArtisteDisplay">{{ artist.nomArtiste}}</div>
                    <p>  
                    <div>
                        {{ artist.localisation.nom.join(', ')}}
                    </div>
                    <p>
                        {{ artist.typeArtiste.nom}}
                    </p>
                    <p><label>{{'Taille du groupe: ' + artist.tailleGroupe|| 'Pas de taille groupe précisée'}}</label></p>
                    <p><label>{{'Note générale: ' + artist.note|| 'Pas de note, groupe non évalué' }}</label></p>
                </div>
                <div class="col-md-2"></div>
                <form class="form-horizontal text-center">
                    <div class="form-group col-md-3" style="border-style: solid;border-radius: 5px;" id="divDmdPrestationProfileArtiste">
                        <div class="panel-heading">
                            <h4>Demande de prestation</h4>
                        </div>                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date début</label>
                            <div class="col-sm-8">
                                <input datepicker="" ng-model="demandeEventStartDate" class="form-control" id="datedebut" placeholder="Date début">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">Date fin</label>
                            <div class="col-sm-8">
                                <input datepicker="" ng-model="demandeEventEndDate" class="form-control" id="datefin" placeholder="Date fin">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-template-main"><i class="fa fa-save"></i> Envoyer la demande</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="row"></div>

        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row portfolio-project" ng-controller="DemoCtrl as ctrl">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Mes invitations</h2>
                    </div>

                    <p class="lead" ng-hide="artist.userArtiste.mesInvitationsDestintaire.length">
                        
                        <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Expediteur</th>
                                        <th>Evènement</th>
                                        <th>Commentaire</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invitation in artist.userArtiste.mesInvitationsDestintaire">
                                        <td>                    
                                            {{ invitation.expediteur.prenom }} &nbsp; {{ invitation.expediteur.nom }}
                                        </td>
                                        <td>                    
                                            {{ invitation.sousEvenement.intitule }}
                                        </td>
                                        <td>
                                            {{ invitation.commentaire }}
                                        </td>
                                        <td>
                                            {{ invitation.sousEvenement.dateDebut }}
                                        </td>
                                        <td>
                                            {{ invitation.sousEvenement.dateFin }}
                                        </td>     
                                        <td>
                                            <button class="btn btn-success" ng-click="accepterInvit(invitation)">Accepter</button>
                                            <button class="btn btn-danger" ng-click="refuserInvit(invitation)">Refuser</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="heading">
                        <h2>A propos de {{artist.nomArtiste|| 'l\'artiste'}}</h2>
                    </div>

                    <p class="lead">
                        {{ artist.description || 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                        mi vitae est. Mauris placerat eleifend leo.'}}
                    </p>
                </div>
                <div class="col-md-2"></div>
                <!-- Div Facebook-->
                <div class="col-md-4">
                    <p><label>{{ (artist.facebookArtiste != null ? 'Groupe Facebook:  ' + artist.facebookArtiste : 'Pas de groupe Facebook: Ajoutez en un!')}}</label></p>
                    <p ng-show="errorUrlFb" class="text-danger">{{errorUrlFb}}</p>
                    <iframe ng-src="{{getFbUrlArtist()}}" style="border:none;overflow:hidden" scrolling="yes" allowtransparency="true" frameborder="0" width="340" height="500" scrolling="yes"></iframe>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-md-8" id="divYoutubeChanProfilArtist">
                    <p><label>{{(artist.youtubeArtiste != null ? 'Chaîne Youtube:'+artist.youtubeArtiste :'Pas de chaîne Youtube: Ajoutez en une!')}}</label></p>
                    <p ng-show="errorUrlYt" class="text-danger">{{errorUrlYt}}</p>
                    <iframe ng-src="{{getYtUrlArtist()}}" src="http://www.youtube.com/embed/?listType=user_uploads&list=YOURCHANNELNAME" width="480" height="400"></iframe>
                </div>
            </div>

            <div class="row portfolio-project">

                <section>

                    <div class="col-sm-12">

                        <div class="heading">
                            <h3>Project description</h3>
                        </div>

                        <p>Bringing unlocked me an striking ye perceive. Mr by wound hours oh happy. Me in resolution pianoforte continuing we. Most my no spot felt by no. He he in forfeited furniture sweetness he arranging. Me tedious so to behaved
                            written account ferrars moments. Too objection for elsewhere her preferred allowance her. Marianne shutters mr steepest to me. Up mr ignorant produced distance although is sociable blessing. Ham whom call all lain like.</p>

                        <p>To sorry world an at do spoil along. Incommode he depending do frankness remainder to. Edward day almost active him friend thirty piqued. People as period twenty my extent as. Set was better abroad ham plenty secure had horses.
                            Admiration has sir decisively excellence say everything inhabiting acceptance. Sooner settle add put you sudden him.</p>
                    </div>
                </section>

            </div>

            <section>
                <div class="row portfolio">

                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Représentations récentes</h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->
                    </div>

                </div>
            </section>

        </div>
        <!-- /.container -->       