<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<script>
                function visibleOrHidden()
                {
                    var sousEventDiv = document.getElementById('divSousEvent');
                    var invit = document.getElementById('divInvitation');
                    
                    if(sousEventDiv.style.display == "none")
                    {
                        sousEventDiv.style.display = "block";
                        invit.style.display = "none";
                    }
                    else
                    {
                        sousEventDiv.style.display = "none";
                        invit.style.display = "block";
                    }
                }
</script>

<div ng-controller="artist_cv_consult" ng-init="initArtistCvConsult()">
    <modal id="text-page" visible="showModal" title="Evènement : {{ titleEvent }}">
        <div ng-controller="calendarCtrl as calDemo" ng-init="initCalendar()">
                <tab select="renderCalender('myCalendar1');">
                    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                      <h4>{{alertMessage}}</h4>
                    </div>
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                </tab>
                <!-- <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> -->
                
                <!-- Modal -->
                <modal id="text-page" visible="showModal" >
                    
                    <div id="divSousEvent" style="display : block;">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Date début</th>
                                    <th>Date fin</th>
                                    <th>intitule</th>
                                    <th ng-show="showButton">Invitation</th>
                                    <th ng-show="showButton">Supprimer</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="asefoe in allSousEventForOneEvent">
                                        <td>
                                            {{ asefoe.dateDebut }}
                                        </td>
                                        <td>
                                            {{ asefoe.dateFin }}
                                        </td>
                                        <td>
                                            {{ asefoe.intitule }}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" onclick="visibleOrHidden();" ng-click="infoSousEvent(asefoe.id)" ng-show="showButton">Inviter {{  artist.nomArtiste }}</button>
                                        </td>
                                        <td>
                                            <a href="#" id="sDelete" ng-show="showButton" ng-click="deleteSEvent(asefoe.id)"><span class = "glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <a href="/myEvent/{{ idEventForClick }}" id="sModal" data-window="external" data-dismiss="modal" >Show event</a>
                                        </td>
                                        <td colspan="3">
                                            <a href="/updateEvent/{{ idEventForClick }}" id="sModal" data-window="external" data-dismiss="modal" ng-show="showButton">Modifier l'évènement</a>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        <div class="row" align="center">
                            <button class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button class="btn btn-danger" ng-click="deleteEvent(idEvent)" ng-confirm-click="Êtes-vous sûr de vouloir supprimer cet évènement et tous ses sous-évènements?">Supprimer</button> 
                        </div>
                    </div>
                    <div id="divInvitation" style="display : none;" ng-controller="DemoCtrl as ctrl">
                        <div class="alert alert-success" ng-show="successInvit">
                            <span>{{successMessageInvit }}</span>
                        </div>
                        <div>
                                  <fieldset class="form-group">
                                      <label for="msgPerso">Envoyer un message personnel</label>
                                      <textarea class="form-control" id="msgPerso" ng-model="msgPerso" name="info" rows="2"></textarea>
                                  </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick="visibleOrHidden();">Retour</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                          <button type="button" ng-click="sendInvitation2()" class="btn btn-template-main"><i class="fa fa-paper-plane"></i>Envoyer l'invitations</button>
                        </div>
                    </div>
                </modal>
            </div>
    </modal>
    
    
    
    
    
    
    
    
    
    <span class="text-danger" ng-show="errorMessage.init"> 
        {{errorMessage.init}}                     
    </span>  
    <div id="" class="ng-scope">
        <div class="jumbotron" ng-style="bannerStyle"></div>
        <div class="container">
            <div class="row panelProfileArtiste">
                <div class="col-md-3" id="divImgProfileArtiste">
                    <div class="box-image" style="border-radius: 3%;">
                        <div class="image">
                            <img ng-style="imgProfileStyle" ng-src="{{urlImageProfile}}" class="img-responsive" >
                        </div>
                    </div>
                </div>
                <div class="row col-md-4 form-group">
                    <!--<h4>Nom de l'artise</h4>-->
                    <h2>{{ artist.nomArtiste}} <button ng-show="authenticated" type="button" class="btn btn-sm btn-template-main" ng-click="toggleModal()"><i class="fa fa-save"></i>Inviter cet artiste</button></h2>
                            

                    <div id="nomArtisteDisplay">{{ artist.nomArtiste}}</div>
                    <p>  
                    <div>
                        {{ artist.localisation.nom.join(', ')}}
                    </div>
                    <p>
                        {{ artist.typeArtiste.nom}}
                    </p>
                    <p><label>{{'Taille du groupe: ' + artist.tailleGroupe|| 'Pas de taille groupe précisée'}}</label></p>
                    <p><label>{{'Note générale: ' + artist.note|| 'Pas de note, groupe non évalué' }}</label></p>
                </div>
                <div class="col-md-2"></div>
<!--                <form class="form-horizontal text-center">
                    <div class="form-group col-md-3" style="border-style: solid;border-radius: 5px;" id="divDmdPrestationProfileArtiste">
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-template-main"><i class="fa fa-save"></i>Inviter cet artiste</button>
                        </div>
                    </div>
                </form>-->
            </div>


            <div class="row"></div>

        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row portfolio-project" ng-controller="DemoCtrl as ctrl">
                <div class="col-md-8">
                    <div style="margin-bottom: 0px;" class="heading">
                        <h2>A propos de {{artist.nomArtiste|| 'l\'artiste'}}</h2>
                    </div>
                    <pre data-type="text" class="lead text-left" id="descriptionArtistPreCVConsult" ng-show="artist.description">
                        <br/>{{artist.description}}
                    </pre>
                    
                    <pre class="lead text-warning" id="descriptionArtistPreCVConsult" ng-hide="artist.description">
                        Cette artiste n'a pas de description
                    </pre>
                    
                </div>
                <div class="col-md-2"></div>
                <!-- Div Facebook-->
                <div class="col-md-4">
                    <p><label>{{ (artist.facebookArtiste != null ? 'Groupe Facebook:  ' + artist.facebookArtiste : 'Pas de groupe Facebook: Ajoutez en un!')}}</label></p>
                    <p ng-show="errorUrlFb" class="text-danger">{{errorUrlFb}}</p>
                    <iframe ng-src="{{getFbUrlArtist()}}" style="border:none;overflow:hidden" scrolling="yes" allowtransparency="true" frameborder="0" width="340" height="500" scrolling="yes"></iframe>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-md-8" id="">
                    <p><label>{{(artist.youtubeArtiste != null ? 'Chaîne Youtube:'+artist.youtubeArtiste :'Pas de chaîne Youtube: Ajoutez en une!')}}</label></p>
                    <p ng-show="errorUrlYt" class="text-danger">{{errorUrlYt}}</p>
                    <iframe ng-src="{{getYtUrlArtist()}}" src="http://www.youtube.com/embed/?listType=user_uploads&list=YOURCHANNELNAME" width="480" height="400"></iframe>
                </div>
            </div>

            <div class="row portfolio-project">

                <!--<section>

                    <div class="col-sm-12">

                        <div class="heading">
                            <h3>Project description</h3>
                        </div>

                        <p>Bringing unlocked me an striking ye perceive. Mr by wound hours oh happy. Me in resolution pianoforte continuing we. Most my no spot felt by no. He he in forfeited furniture sweetness he arranging. Me tedious so to behaved
                            written account ferrars moments. Too objection for elsewhere her preferred allowance her. Marianne shutters mr steepest to me. Up mr ignorant produced distance although is sociable blessing. Ham whom call all lain like.</p>

                        <p>To sorry world an at do spoil along. Incommode he depending do frankness remainder to. Edward day almost active him friend thirty piqued. People as period twenty my extent as. Set was better abroad ham plenty secure had horses.
                            Admiration has sir decisively excellence say everything inhabiting acceptance. Sooner settle add put you sudden him.</p>
                    </div>
                </section>-->

            </div>

            <section>
                <div class="row portfolio">

                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Représentations récentes</h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->
                    </div>

                </div>
            </section>
            
                       <!-- <section>
                <div ng-controller="calendarCtrl
                                            as calDemo" ng-init="initCalendar()"> 
                    <tab select="renderCalender('myCalendar1');"> 
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar">

                        </div> 
                    </tab>
                </div>

            </section>-->
            
            
        </div>
        <!-- /.container -->  
        