<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="artist_presentation" ng-init="initArtistPresentation()">
    <span class="text-danger" ng-show="errorMessage.init"> 
        {{errorMessage.init}}                     
    </span>  
    <div id="" class="ng-scope">
        <div class="jumbotron" ng-style="{'background-image': artist.imageBanniere || '', 'height':'300px'}"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-image">
                        <div class="image">
                            <img style="width:120%;height:120%;" ng-src="{{artist.imageProfile|| 'img/portfolio-1.jpg'}}" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row col-md-4 form-group">
                    <!--<h4>Nom de l'artise</h4>-->
                    <h2><label editable-text="artist.nomArtiste" e-required onaftersave="updateUser()">{{ artist.nomArtiste || 'Pas de nom d\' artiste' }}</label></h2>
                    <p><label editable-text="artist.localisation" e-required onaftersave="updateUser()">{{artist.localisation|| 'Pas de localisation'}}</label></p>
                    <p>
                        <a href="#" editable-select="artist.typeArtiste" e-ng-options="t.value as t.text for t in typesArtiste" onaftersave="updateUser()">
                            {{ showArtistTypes()}}
                        </a>
                        <!--<label editable-text="artist.typeArtiste" e-required onaftersave="updateUser()">{{artist.typeArtiste|| 'Pas de type groupe'}}</label>-->
                    </p>
                    <p><label editable-text="artist.tailleGroupe" e-required onaftersave="updateUser()">{{artist.tailleGroupe|| 'Pas de taille groupe'}}</label></p>
                    <p><label ng-bind="artist.note">{{artist.note|| 'Pas de note' }}</label></p>
                </div>
                <div class="col-md-2"></div>
                <form class="form-horizontal">
                    <div class="panel panel-primary form-group col-md-3" style="border-style: solid;border-radius: 5px;">
                        <div class="panel-heading">
                            <h4>Demande de prestation</h4>
                        </div>                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date début</label>
                            <div class="col-sm-8">
                                <input datepicker="" ng-model="demandeEventStartDate" class="form-control" id="datedebut" placeholder="Date début">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">Date fin</label>
                            <div class="col-sm-8">
                                <input datepicker="" ng-model="demandeEventEndDate" class="form-control" id="datefin" placeholder="Date fin">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-template-main"><i class="fa fa-save"></i> Envoyer la demande</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="row"></div>

        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="heading">
                        <h2>A propos de {{artist.nomArtiste|| 'l\'artiste'}}</h2>
                    </div>

                    <p class="lead" editable-textarea="artist.description" e-cols="140" onaftersave="updateUser()">{{ artist.description || 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                        mi vitae est. Mauris placerat eleifend leo.'}}</p>
                </div>
            </div>
            <div class="row portfolio-project">

                <section>

                    <div class="col-sm-8">
                        <div class="project owl-carousel">
                            <div class="item">
                                <img src="img/main-slider1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="img/main-slider2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="img/main-slider3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="img/main-slider4.jpg" alt="">
                            </div>
                        </div>
                        <!-- /.project owl-slider -->

                    </div>

                    <div class="col-sm-4">
                        <div class="project-more">
                            <h4>Client</h4>
                            <p>Pietro Filippi</p>
                            <h4>Services</h4>
                            <p>Consulting, Webdesign, Print</p>
                            <h4>Technologies</h4>
                            <p>PHP, HipHop, Break-dance</p>
                            <h4>Dates</h4>
                            <p>10/2013 - 06/2014</p>
                        </div>
                    </div>

                </section>

                <section>

                    <div class="col-sm-12">

                        <div class="heading">
                            <h3>Project description</h3>
                        </div>

                        <p>Bringing unlocked me an striking ye perceive. Mr by wound hours oh happy. Me in resolution pianoforte continuing we. Most my no spot felt by no. He he in forfeited furniture sweetness he arranging. Me tedious so to behaved
                            written account ferrars moments. Too objection for elsewhere her preferred allowance her. Marianne shutters mr steepest to me. Up mr ignorant produced distance although is sociable blessing. Ham whom call all lain like.</p>

                        <p>To sorry world an at do spoil along. Incommode he depending do frankness remainder to. Edward day almost active him friend thirty piqued. People as period twenty my extent as. Set was better abroad ham plenty secure had horses.
                            Admiration has sir decisively excellence say everything inhabiting acceptance. Sooner settle add put you sudden him.</p>
                    </div>
                </section>

            </div>

            <section>
                <div class="row portfolio">

                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Représentations récentes</h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/portfolio-4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3> 
                            </div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image -->
                    </div>

                </div>
            </section>

        </div>
        <!-- /.container -->


    </div>

</div>
<!--

<div class="box clearfix" ng-controller="artist_presentation">
    <div class="heading">
        <h3 class="text-uppercase">Page de présentation</h3>
    </div>
    <div class="container">
        <form class="form-horizontal" editable-form name="editableForm" onaftersave="saveUser()">
            <div class="form-group">
                <label class="control-label">Artiste:</label>
                <label editable-text="artist.name" e-required>{{ artist.name || '' }}</label>
            </div>
            <div class="form-group">
                <label class="control-label">Specialite:</label>
                    <label editable-text="artist.specialite" e-required>{{ artist.specialite || '' }}</label>
            </div>

            <div class="form-group">
                <label class="title">Nombre d'artiste:</label>
                <label editable-text="artist.nbArtist" e-required>{{ artist.nbArtist || '1' }}</label>
            </div>

            <div class="form-group">
                <label class="title">Tarif minimum:</label>
                <label editable-text="artist.tarifMin" e-required>{{ artist.tarifMin || '' }}</label>
            </div>

            <div class="form-group">
                <label class="title">Tarif maximum:</label>
                <label editable-text="artist.tarifMax" e-required>{{ artist.tarifMax || '' }}</label>                    
            </div>

            <div class="form-group">
                <label class="title">A propos: </label>
                <label editable-text="artist.apropos" e-required>{{ artist.apropos || '' }}</label>
            </div>

            <div class="form-group">
                <label class="title">Pré-requis:</label>
                <label editable-text="artist.prerequis" e-required>{{ artist.prerequis || 'Aucun' }}</label>
            </div>

            <div class="form-group">
                <label class="title">Localisation</label>
                <label editable-text="artist.localisation" e-required>{{ artist.localisation || '' }}</label>
            </div>

            <div class="form-group">
                <label class="title">Notation:</label>
                {{artist.note|| 'Pas de note'}}
            </div>
            <button type="button" class="btn btn-template-maint" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                <i class="fa fa-save"></i> Editer
            </button>
            <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
        </form>
    </div>
<!-- /.container


</div> -->