
<div ng-controller="event" ng-init="initFirst()">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#myEvent">Mes évènements</a></li>
        <li><a data-toggle="tab" href="#addEvent">Ajouter un évènement</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="myEvent" class="tab-pane fade in active">Yoho</div>
        <div id="addEvent" class="tab-pane fade">
            <form name="fen" role="form" ng-submit="addEvent()">
                <fieldset class="form-group">
                    <label for="intitule">Intitulé :</label>
                    <input id="intitule" class="form-control" type="text" ng-model="event.intitule" name="intitule" />
                </fieldset>
                
                <fieldset class="form-group">
                   <label for="description">Description</label>
                   <textarea class="form-control" id="description" ng-model="event.description" name="description" rows="3"></textarea>
                </fieldset>
                
                <div class="container">
                    <div class='col-md-5'>
                        <label for="checkin">Date début</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' datepicker="" ng-model="event.datetimedebevent" class="form-control" id="checkin" name="checkin" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="text-danger"> 
                                {{event.datetimedebevent}}                     
                            </span>
                        </div>
                    </div>
                    
                    <div class='col-md-5'>
                        <label for="checkout">Date fin</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' datepicker="" ng-model="event.datetimefinevent" class="form-control" id="checkout" name="checkout" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <span class="text-danger"> 
                                {{event.datetimefinevent}}                     
                        </span>
                    </div>
                </div>
                
                
                <fieldset class="form-group">
                   <label for="description">Informations complémentaires</label>
                   <textarea class="form-control" id="info" ng-model="event.info" name="info" rows="3"></textarea>
                </fieldset>
                
                
                <div ng-app="event">
                    <fieldset style="background: #FCFCFC;padding: 16px;border: 1px solid #D5D5D5;box-shadow: 8px 8px 0px #aaa; " data-ng-repeat="choice in choices">
                        <div class="container" disable-all="lastDateTimePickerSousEvent($index)">
                            <div class='col-md-5'>
                                <label for="checkin">Date début sous-évènement</label>
                                <div class="form-group">
                                    <div class='input-group date' id="datetimedeb">
                                        <input type='text' class="form-control" sdatepicker="" ng-model="scheckin[$index]" id="scheckin-{{$index}}"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <span class="text-danger"> 
                                        {{scheckin[$index]}}                     
                                    </span>
                                </div>
                            </div>

                            <div class='col-md-5'>
                                <label for="checkout">Date fin sous-évènement</label>
                                <div class="form-group">
                                    <div class='input-group date' id="datetimefin">
                                        <input type='text' class="form-control" sdatepicker="" ng-model="scheckout[$index]" id="scheckout-{{$index}}" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <span class="text-danger"> 
                                        {{scheckout[$index]}}                     
                                    </span>
                                </div>
                            </div>
                        </div>  
                        <button class="btn btn-danger" ng-show="$last" ng-click="removeChoice()">Supprimer</button>

                    </fieldset>
                    <br>
                    <br>
                    <button class="btn btn-primary" ng-click="addNewChoice()" ng-disabled="((!event.datetimedebevent) || (!event.datetimefinevent) || (!event.intitule) || (!event.description))">Ajouter</button>

                    <div id="choicesDisplay">
                       {{ choices }}
                    </div>
                    
                    <div id="scheckinDisplay">
                       {{ scheckin }}
                    </div>
                    
                    <div id="scheckoutDisplay">
                       {{ scheckout }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
