<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Invitation</h1>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN *** _________________________________________________________ -->

            <div class="col-sm-3">
                <!-- *** PAGES MENU ***________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">Modal invitation multiple</a>
                            </li>
                            <li>
                                <a href="#">Modal invitation unique</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                <!-- /.banner -->
            </div>
            <!-- /.col-md-3 -->



            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***_________________________________________________________ -->


            <div class="col-md-9 clearfix">
                <section>
                    <div id="text-page" ng-controller="DemoCtrl as ctrl">

                        <p class="lead">A remplacer dans modal invitation multiple. Test binding ctrl : {{ bindCtrl }}</p>

                        <h1>Recherche plusieurs artistes +  com perso pour envoyer invit</h1>
                        
                        <hr>
                        <label>Inviter des artistes</label>
                        <ui-select multiple ng-model="ctrl.multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false" style="width: 800px;">
                            <ui-select-match placeholder="Chercher des artistes à inviter">
                                <img style="float:left;border-radius: 25px;" ng-src="{{$item.image}}"  alt="ImageMarchePas" />
                                {{$item.name}}
                            </ui-select-match>
                            <ui-select-choices refresh="refreshArtiste($select.search)" refresh-delay="1000" repeat="person in ctrl.people">
                                <small>
                                  <img style="float:left;border-radius: 25px;" ng-src="{{person.image}}"  alt="ImageMarchePas" />
                                </small>
                              <div style="margin-left: 60px;" ng-bind-html="person.name | highlight: $select.search"></div>
                              <div style="margin-left: 60px;">BLABLABLABLA</div>
                          </ui-select-choices>
                        </ui-select>
                        selection : {{ ctrl.multipleDemo.selectedPeople }}<br>
                    
                        <br><br>
                        <fieldset class="form-group">
                            <label for="msgPerso">Envoyer un message personnel</label>
                            <textarea class="form-control" id="msgPerso" ng-model="msgPerso" name="info" rows="2"></textarea>
                        </fieldset>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button ng-click="sendInvitation()" type="submit" class="btn btn-template-main"><i class="fa fa-paper-plane"></i>Envoyer les invitations</button>
                            </div>
                        </div>
                    </div>                    
                </section>
                

            </div>
            <!-- /.col-md-9 -->


        <!-- *** RIGHT COLUMN END *** -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
</div>

