<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Invitation</h1>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN *** _________________________________________________________ -->

            <div class="col-sm-3">
                <!-- *** PAGES MENU ***________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#">Modal invitation multiple</a>
                            </li>
                            <li>
                                <a href="#">Modal invitation unique</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                <!-- /.banner -->
            </div>
            <!-- /.col-md-3 -->



            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***_________________________________________________________ -->


            <div class="col-md-9 clearfix">
                <section>
                    <div id="text-page" ng-controller="DemoCtrl as ctrl">

                        <p class="lead">Test binding ctrl : {{ bindCtrl }}</p>
                        
                        <h1>Afficher toutes les invits reçues et envoyées (voir dans les req envoyées et leur réponse dans l'outil de debug)</h1>
                        
                        <h4>Invitations envoyées</h4>
                            <button ng-click ="initInvitationSend()" type="button">Test WS !</button> 
                        <h4>Invitations reçues</h4>
                            <button ng-click ="initInvitationReceived()" type="button">Test WS !</button>
                            <br><br>
                            <hr>
                            <h2>Accepter/refuser une invitation reçue (cliquer d'abord sur le 2nd btn test WS)</h2>
                            
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>Expediteur (=organisateur)</th>
                                        <th>Statut</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invitation in lstInvtitation">
                                        <td>                    
                                            {{ invitation.expediteur.prenom }} &nbsp; {{ invitation.expediteur.nom }}
                                        </td>
                                        <td>
                                            {{ invitation.statut }}
                                        </td>                                        
                                        <td>
                                            <button ng-click="accepterInvit(invitation)">Accepter</button>
                                            <button ng-click="refuserInvit(invitation)">Refuser</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                    </div>                    
                </section>
            </div>
            <!-- /.col-md-9 -->


        <!-- *** RIGHT COLUMN END *** -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
</div>

