@base: #0000ff;

.titre{
    color : @base;
}

.social2{
    margin-bottom:20px;
}

//navbar header
.navbar ul.nav > li > a {
    text-decoration: none !important;
}

//navbar header
.dropdown-user{
    padding-top: 12px !important;
    padding-bottom: 11px !important;
}

//image dropdown utilisateur
.img-small{
    max-width: 70px !important;
}

//hover des menu de la navbar @Override bootstrap
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block !important;
}

//bouton du login modal
.btn{
    &.login-modal{
        border-radius: 3px;
    }
} 

//Taille du modal
.modal-sm {
    width: 350px;
}

//separateur "ou" dans le login modal
.signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
}

h6, .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #82888a;
}

.signup-or-separator hr {
    margin: -26px auto 10px;
    width: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
}

//input group addon (image input)
.input-group-addon{
    min-width: 50px;
}

//navbar
.navbar {
    background:rgba(250,250,250,0.75);   /* for latest browsers */
    -webkit-box-shadow: 0 4px 8px -2px #999;
    -moz-box-shadow: 0 4px 8px -2px #999;
    box-shadow: 0 4px 8px -2px #999;
}

.input-xs {
    width : 220px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 200%;
    margin: auto;
}

.carousel-caption {
    position: absolute;
    top:0px;
    right: 0%;
    left: 0%;
    padding-bottom: 30px;
    box-shadow: 0 1px 15px 1 -3px #999 !important;
    background: rgba(250, 250, 250, 0.20);
    height: 150px;
}

//caroussel
.h1{
    &.text-center{
        color : #ffffff !important;
        font-family: inherit;
    }
} 
